<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <h1>Dashboard</h1>

    <p>This is the dashboard page.</p>

    <button>Add Task</button>
    <button>Delete Task</button>
    <button>Edit Task</button>
    <button>Mark Task as Complete</button>

    <form id="task-form">
        <input type="text" id="title" placeholder="Title" required />
        <input type="text" id="description" placeholder="Description" required />
        <input type="datetime-local" id="due-date" required />
        <button type="submit">Add Task</button>
    </form>
    <ul id="task-list"></ul>
    <script src="../dist/main.js" type="module"></script>

</body>
</html>